<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Blog App</span>
  <span class="example-spacer"></span>

  <button  mat-raised-button color="primary" routerLink = "/create-post" >Create New Post</button> 

  <span style="margin-right: 10px;"></span>

  <button mat-raised-button color="primary" routerLink = "/view-all">View All Posts</button>

  <span style="margin-right: 10px;"></span> 

  <button mat-raised-button color="primary" routerLink ="/search-by-name">Search</button>

  <span style="margin-right: 10px;"></span> 

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>